@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    background: #f6bfe7;
}

.app{
    background: #fffffff7;
    width: 90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: 25px;
    color: rgb(243, 134, 181);
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.quiz{
    padding: 20px O;
}
.quiz h2{
    font-size: 20px;
    color: rgb(143, 62, 98);
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;

}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500px;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius:4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background:#222;
    color:#fff
}
#next-btn{
    background-color: #f6bfe7;
    color: #fff;
    font-weight: 500;
    width:150px;
    border: 0;
    padding: 10px;
    margin:10px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}